<!-- templates/diskviewer/file_list.html -->
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Список файлов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <form method="get" action="{% url 'file_list' %}">
        <input type="hidden" name="public_key" value="{{ public_key }}">
        <label for="file_type">Тип файлов:</label>
        <select name="file_type" id="file_type">
            <option value="all">Все</option>
            <option value="dir">Папки</option>
            <option value="file">Файлы</option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>

    <!-- <h1>Список файлов и папок</h1>
    <ul>
        {% for item in items %}
        <li>
            {{ item.name }} - {{ item.type }}
            {% if item.type == 'file' %}
            <a
                href="{% url 'download_file' %}?path={{ item.path|urlencode }}&public_key={{ public_key|urlencode }}">Скачать</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul> -->

    <form method="post" action="{% url 'download_multiple' %}">
        {% csrf_token %}
        <input type="hidden" name="public_key" value="{{ public_key }}">
        <ul>
            {% for item in items %}
            {% if item.type == 'file' %}
            <li>
                <input type="checkbox" name="paths" value="{{ item.path }}">
                {{ item.name }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <button type="submit">Скачать выбранные файлы</button>
    </form>
</body>

</html>